
name: _Upload to PyPI

on:
  workflow_call:
    secrets:
      PYPI_PASSWORD:
        required: true

jobs:
  upload_to_pypi:
    name: Upload all wheels to PyPI
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Download All Artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist
          pattern: '*-wheels'
          merge-multiple: true

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          name: Linux-sdist
          path: dist

      - name: List all downloaded files
        run: ls -R dist

      - name: Upgrade
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade twine

#      - name: Upload to PyPI
#        env:
#          TWINE_USERNAME: __token__
#          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
#        run: |
#          python -m twine upload --verbose dist/*