name: _Windows (pyinstaller - simple executable)


on:
  workflow_dispatch:
  workflow_call:

env:
  PROJECT: PyMca5
  PROJECT_LOWER: pymca5

jobs:
# Fat binaries
  windows_pyinstaller_python39: #also works with cp311 and pyside6 as well as oldest cp39 pyqt5
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.13" #was working with 3.11 and Pyside6

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-latest-wheels
          path: wheels

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install qtconsole==5.6.1
          pip install matplotlib==3.10.5
          pip install lief==0.16.6
          pip install $(python -c "import glob; print(' '.join(glob.glob('wheels/*cp313*.whl')))") 
          pip install Cython
          pip install numpy==2.2.6 
          pip install Pyside6==6.9.1
          pip install h5py
          pip install fisx
          pip install hdf5plugin
          pip install silx==2.2.2
          pip install PyOpenGL
          pip install PyInstaller
          pip install --no-build-isolation git+https://github.com/vasole/bcflight.git
          pip install ipywidgets


      - name: Install NSIS
        run: choco install nsis -y

      - name: Add NSIS to PATH
        shell: pwsh
        run: |
          echo "C:/Program Files (x86)/NSIS" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Check makensis availability
        shell: pwsh
        run: |
          where makensis
          makensis /VERSION

      - name: Build with PyInstaller
        run:
          python build-pyinstaller_github.py

      - name: Run PyMcaMain with tests (Windows)
        shell: pwsh
        run: |
          # Find the exe in the dist folder (recursive)
          $appPath = Get-ChildItem -Path "dist" -Filter "PyMcaMain.exe" -Recurse |
                     Select-Object -First 1 -ExpandProperty FullName
      
          if (-not $appPath) {
              Write-Error "Executable 'PyMcaMain.exe' not found in dist folder."
              exit 1
          }
      
          Write-Host "Found executable at $appPath"

          & $appPath --test
          exit $LASTEXITCODE

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable-pyinstaller
          path: dist/PyMca*/**
          retention-days: 1
