name: _Windows (cx_freeze - installer)

on:
  workflow_call:

env:
  PROJECT: PyMca5
  PROJECT_LOWER: pymca5

jobs:
# Fat binaries
  windows_cxfreeze_python313:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.13" #was working with cp3.9 and pyqt5 numpy==1.24.4 cx_freeze==6.14.7 qtconsole==5.4.1 lief==0.12.3 matplotlib==3.5.3

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-latest-wheels
          path: wheels

      - name: Install dependencies
        run: |          
          
          python -m pip install --upgrade pip setuptools wheel
          pip install qtconsole==5.6.1
          pip install matplotlib==3.10.5
          pip install lief==0.16.6
          pip install cx_Freeze==8.3.0
          pip install $(python -c "import glob; print(' '.join(glob.glob('wheels/*cp313*.whl')))") 
          pip install Cython
          pip install numpy==2.2.6 
          pip install Pyside6==6.9.1
          pip install h5py
          pip install fisx
          pip install hdf5plugin
          pip install silx==2.2.2
          pip install PyOpenGL
          pip install git+https://github.com/vasole/bcflight.git

      - name: Install NSIS
        run: choco install nsis -y

      - name: Add NSIS to PATH
        shell: pwsh
        run: |
          echo "C:/Program Files (x86)/NSIS" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Check makensis availability
        shell: pwsh
        run: |
          where makensis
          makensis /VERSION

      - name: Build with cx_Freeze
        shell: cmd
        run:
          python build-cxfreeze_github.py

      - name: Print dist* directories content with PowerShell
        shell: pwsh
        run: |
          Get-ChildItem -Directory -Name dist* | ForEach-Object {
            Write-Host "Contents of $_ :"
            Get-ChildItem -Path $_ -Recurse
          }

      - name: Install PyMca from installer
        shell: pwsh
        run: |
          # Find the installer
          $installer = Get-Item dist\pymca*.exe
          if (-not $installer) {
            Write-Error "Installer not found in dist/"
            exit 1
          }
          # Run installer silently (adjust /S as needed)
          Start-Process -FilePath $installer.FullName -ArgumentList "/S" -Wait

      - name: Run tests
        shell: pwsh
        run: |
          # Define expected install paths
          $basePaths = @(
              "${env:ProgramFiles}",
              "${env:ProgramFiles(x86)}"
          )
          $exeName = "PyMcaMain.exe"
          $appPath = $null
      
          # Find the exe in folders starting with PyMca*
          foreach ($base in $basePaths) {
              $candidateDirs = Get-ChildItem -Path $base -Directory -Filter "PyMca*" -ErrorAction SilentlyContinue
              foreach ($dir in $candidateDirs) {
                  $possiblePath = Join-Path $dir.FullName $exeName
                  if (Test-Path $possiblePath) {
                      $appPath = $possiblePath
                      break
                  }
              }
              if ($appPath) { break }
          }
      
          if (-not $appPath) {
              Write-Error "Executable '$exeName' not found in Program Files."
              exit 1
          }
      
          Write-Host "Found executable at $appPath"
                    
          & $appPath --test
          exit $LASTEXITCODE

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer-cxfreeze
          path: dist/*
          retention-days: 3
