name: Windows (cx_freeze - installer - local tests)

on:
  workflow_dispatch:

env:
  PROJECT: PyMca5
  PROJECT_LOWER: pymca5

jobs:
# Fat binaries
  build_and_test:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }} ${{ matrix.name-suffix }}"
    runs-on: ${{ matrix.os }}
    strategy:
      # do not cancel tests after first fail
      fail-fast: false
      matrix:
        include:
          # python 3.8 leads to errors with cython\

#          - name-suffix: "PyQt6 wheel"
#            os: windows-latest
#            python-version: "3.13"
#            BUILD_COMMAND: --wheel
#            QT_BINDING: PyQt6

          - name-suffix: "PySide6 wheel"
            os: windows-latest
            python-version: "3.13"
            BUILD_COMMAND: --wheel
            QT_BINDING: PySide6

#          - name-suffix: "PyQt6 wheel"
#            os: windows-latest
#            python-version: "3.12"
#            BUILD_COMMAND: --wheel
#            QT_BINDING: PyQt6

#          - name-suffix: "PySide6 wheel"
#            os: windows-latest
#            python-version: "3.12"
#            BUILD_COMMAND: --wheel
#            QT_BINDING: PySide6

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade distribution modules
        run: |        
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel cython
          pip install --upgrade wheel
          pip install --upgrade numpy
          pip install --upgrade build
          pip install cython
          pip install ${{ matrix.QT_BINDING }}


      - name: Generate source package or wheel
        run: |
          python -m build ${{ matrix.BUILD_COMMAND }}
          ls dist

      - name: Install
        run: |
          pip install --pre "$(ls dist/*ca5-5.*)"

      - name: Run the tests
        run: |
          cd ..
          python -m PyMca5.tests.TestAll

#      - name: Rename .whl file
#        shell: pwsh
#        run: |
#          $pyver = '${{ matrix.python-version }}'
#          $pep425tag = 'cp' + ($pyver -replace '\.', '')
#          $newName = "PyMca5${{ matrix.QT_BINDING }}-5.6.4-$pep425tag-$pep425tag-win_amd64.whl"
#          $whlFile = Get-ChildItem -Path dist -Filter *.whl | Select-Object -First 1
#          Rename-Item -Path $whlFile.FullName -NewName $newName
#          Write-Host "Renamed $($whlFile.Name) to '$newName'"

      - name: Upload wheel as artifact
        uses: actions/upload-artifact@v4
        with:
          name: python${{ matrix.python-version }}-${{ matrix.QT_BINDING }}-dist
          path: dist/*.whl
          retention-days: 1

  windows_cxfreeze_python39:
    runs-on: windows-latest
    needs: build_and_test
    strategy:
      # do not cancel tests after first fail
      fail-fast: false
      matrix:
        include:
#          - QT_BINDING: PyQt6
#            python-version: "3.12"

#          - QT_BINDING: PySide6
#            python-version: "3.12"

#          - QT_BINDING: PyQt6
#            python-version: "3.13"

          - QT_BINDING: PySide6
            python-version: "3.13"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }} #was working with cp3.9 and pyqt5 numpy 1.24.4 cx_freeze 6.14.7 matplotlib 3.5.3

      - name: Download wheels artifact
        uses: actions/download-artifact@v4
        with:
          name: python${{ matrix.python-version }}-${{ matrix.QT_BINDING }}-dist
          path: dist

      - name: List downloaded files
        shell: pwsh
        run: Get-ChildItem -Path dist -Recurse

      - name: Install dependencies
        shell: pwsh
        run: |       
          $wheel = Get-ChildItem -Path "dist" -Filter *.whl | Select-Object -First 1
          Write-Host "Installing wheel file: $($wheel.FullName)"
           
          python -m pip install --upgrade pip setuptools wheel
          pip install qtconsole==5.6.1
          pip install matplotlib==3.10.5
          pip install lief==0.16.6
          pip install cx_Freeze==8.3.0
          pip install --pre $wheel.FullName
          pip install Cython
          pip install numpy==2.2.6 
          pip install ${{ matrix.QT_BINDING }}
          pip install h5py
          pip install fisx
          pip install hdf5plugin
          pip install silx
          pip install PyOpenGL
          pip install git+https://github.com/vasole/bcflight.git

      - name: Install NSIS
        run: choco install nsis -y

      - name: Add NSIS to PATH
        shell: pwsh
        run: |
          echo "C:/Program Files (x86)/NSIS" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Check makensis availability
        shell: pwsh
        run: |
          where makensis
          makensis /VERSION

      - name: Build with cx_Freeze
        shell: cmd
        run:
          python build-cxfreeze_github.py

      - name: Print dist* directories content with PowerShell
        shell: pwsh
        run: |
          Get-ChildItem -Directory -Name dist* | ForEach-Object {
            Write-Host "Contents of $_ :"
            Get-ChildItem -Path $_ -Recurse
          }

      - name: Install PyMca from installer
        shell: pwsh
        run: |
          # Find the installer
          $installer = Get-Item dist\pymca*.exe
          if (-not $installer) {
            Write-Error "Installer not found in dist/"
            exit 1
          }
          # Run installer silently (adjust /S as needed)
          Start-Process -FilePath $installer.FullName -ArgumentList "/S" -Wait

      - name: Run PyMcaMain with tests (Windows)
        shell: pwsh
        run: |
          # Define expected install paths
          $basePaths = @(
              "${env:ProgramFiles}",
              "${env:ProgramFiles(x86)}"
          )
          $exeName = "PyMcaMain.exe"
          $appPath = $null
      
          # Find the exe in folders starting with PyMca*
          foreach ($base in $basePaths) {
              $candidateDirs = Get-ChildItem -Path $base -Directory -Filter "PyMca*" -ErrorAction SilentlyContinue
              foreach ($dir in $candidateDirs) {
                  $possiblePath = Join-Path $dir.FullName $exeName
                  if (Test-Path $possiblePath) {
                      $appPath = $possiblePath
                      break
                  }
              }
              if ($appPath) { break }
          }
      
          if (-not $appPath) {
              Write-Error "Executable '$exeName' not found in Program Files."
              exit 1
          }
      
          Write-Host "Found executable at $appPath"
          
          & $appPath --test
          exit $LASTEXITCODE

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer-cxfreeze-python${{ matrix.python-version }}-${{ matrix.QT_BINDING }}
          path: dist/*
          retention-days: 1
