name: Release

permissions:
  contents: write

on:
#  release:
#    types: [published]
  workflow_dispatch:
    inputs:
      force:
        description: |
          stop  - do nothing; safe precautions from accident run
          force - to start release with same version (useful if previous CI failed before uploading wheels)
          local - to test changes; it create only artifacts, no upload or tag
        type: choice
        options:
          - stop
          - force
          - local
        default: 'false'
        # change to 'true' for manual release
  push:
    branches:
      - master
    paths:
      - 'src/PyMca5/__init__.py'

jobs:
  version-change:
    runs-on: ubuntu-latest
    outputs:
      should_release: ${{ steps.check-change.outputs.should_release }}
      version: ${{ steps.check-change.outputs.version }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 #to have all commits

      - name: Get version from file
        id: check-change
        run: |
          version=$(grep -Po '^__version__ = ["'\'']\K[^"'\'']+' src/PyMca5/__init__.py)
          echo "Found version: $version"
          echo "version=$version" >> $GITHUB_OUTPUT

          # Check if the version line was modified in the last commit
          changed=$(git diff HEAD^ HEAD -- src/PyMca5/__init__.py | grep '__version__' || true)

          if [[ -n "$changed" ]]; then
            echo "Version changed"
            echo "should_release=true" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" && "${{ github.event.inputs.force }}" == "force" ]]; then
            echo "Release was triggered manually"
            echo "should_release=true" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "workflow_dispatch" && "${{ github.event.inputs.force }}" == "local" ]]; then
            echo "Not release but local test was started"
            echo "should_release=true" >> $GITHUB_OUTPUT
          else
            echo "No release... for now"
            echo "should_release=false" >> $GITHUB_OUTPUT
          fi

  version-check:
    needs: version-change
    if: needs.version-change.outputs.should_release == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Local runner (skip version check)
        if: github.event.inputs.force == 'local'
        run: echo "Skipping version checker"

      - name: Real version check
        if: github.event.inputs.force != 'local'
        uses: ./.github/workflows/_Version.yml

  run-build-upload:
    needs: version-check
    uses: ./.github/workflows/_Wheels.yml
    secrets:
      TESTPYPI_PASSWORD: ${{ github.event.inputs.force != 'local' && secrets.TESTPYPI_PASSWORD || '' }}

  trigger-windows-pyinstaller:
    needs: run-build-upload
    uses: ./.github/workflows/_WindowsExe.yml

  trigger-windows-cx:
    needs: run-build-upload
    uses: ./.github/workflows/_WindowsInstaller.yml

  trigger-mac:
    needs: run-build-upload
    uses: ./.github/workflows/_MacOS.yml

  tag-release:
    if: github.event.inputs.force != 'local'
    permissions:
      contents: write
    needs:
      - trigger-windows-cx
      - trigger-mac
    uses: ./.github/workflows/_TagRelease.yml

  changelog:
    if: github.event.inputs.force != 'local'
    permissions:
      contents: write
    needs: tag-release
    uses: ./.github/workflows/_ChangeLog.yml

  upload-release:
    if: github.event.inputs.force != 'local'
    permissions:
      contents: write
    needs: tag-release
    uses: ./.github/workflows/_UploadRelease.yml

  upload-pypi:
    needs: tag-release
    uses: ./.github/workflows/_PyPI.yml
    secrets:
      PYPI_PASSWORD: ${{ github.event.inputs.force != 'local' && secrets.PYPI_PASSWORD || '' }}



